@tailwind base;
@tailwind components;
@tailwind utilities;

.glass {
  backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(0, 0, 0, 0.536);
}

.vite-bg {
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}

.cafe-mesh {
  background-color: #c9d9c1;
  background-image: linear-gradient(
    180deg,
    #c9d9c1 0%,
    #8b8484 58%,
    #f5f5dc 100%
  );
}

.rustic-text {
  background-image: radial-gradient(
      at 40% 20%,
      rgb(235, 227, 219) 0px,
      transparent 50%
    ),
    radial-gradient(at 80% 0%, rgba(194, 138, 67, 1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, rgba(225, 184, 108, 1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, rgba(197, 145, 82, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, rgba(176, 129, 79, 1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, rgba(221, 168, 88, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, rgba(145, 99, 48, 1) 0px, transparent 50%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}
